<script lang="ts">
	import { tick } from "svelte";
	import { PivotTableUI } from "svelte-pivottable";

	const options = {
		// see documenation for supported options
		};

	// see documentation for supported input formats
	let data = {};
	let value = "";
	let isLoaded = false
	let isError = false
	let errMsg = ""
</script>
<div>
<textarea bind:value />
<br>
<button on:click={() => {
	isLoaded = false
	isError = false
	tick().then(() => {
		try {
			data = JSON.parse(value)
			isLoaded = true
		} catch(e) {
			errMsg = e
			isError = true
		}
	})
}}>Generate</button>
</div>

{#if isLoaded && !isError}
<div>
	<PivotTableUI {...options} {data}></PivotTableUI>
</div>
{:else if isError}
{errMsg}
{/if}